/*@font-face {
  font-family: "Glossy Display";
  src: url("../assets/fonts/GlossyDisplay-Light.ttf") format("truetype");
}
*/
@font-face {
  font-family: "Glossy Display Italic";
  src: url("../assets/fonts/GlossyDisplay-Regular-Italic.otf");
}

@font-face {
  font-family: "SF Mono";
  src: url("../assets/fonts/SFMono-Light.otf");
}

html, body {
  margin: 0;
  padding: 0 2vw;
  color: green;
/*  background-color: #f2f2ee;  */
  background-color: #FFF;
}

canvas {
  display: block;
}

#sketch {
  width: 100%;
}

#sketch canvas {
  width: 50% !important;
  height: auto !important;
  box-shadow: 0px 0px 5px green;
}


h1 {
  font-family: "Glossy Display Italic";
  font-size: 55px;
  display: inline-block;
  font-weight: 200;
}

h1 a:hover {
  display: inline-block;
  color: #bcff14;
  font-style: italic;
}

a {
  text-decoration: none;
  color: green;
}

#about-link {
  font-family: "SF Mono";
  font-size: 30px;
  float: right;
}

h2 {
  font-family: "Glossy Display Italic";
  font-size: 35px;
  font-style: italic;
  display: inline-block;
  padding: 0 40px 0 15px;
}

button {
  font-family: "Glossy Display";
  background-color: #FFF;
  border: 0.5px solid green;
  color: green;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 50%;
  font-style: italic;
  margin-right: 35px;
}

button:hover {
  cursor: pointer;
/*  background-color: green;
*/  border-color: green;
/*  color: #f2f2ee;
*/  text-shadow: 1px 1px 10px #FFF;
  box-shadow: 2px 2px 5px green;
  transform: rotate(15deg);
}

button:active {
  border: 1px solid green;
}

.buttons {
  position: absolute;
  margin-top: 2%;
  left:14%;
}

#button1 {
}


p {
  font-family: "SF Mono";
  font-style: none;
  font-weight: 200;
  font-size: 20px;
  float: right;
  justify-content: flex-start;
  width: 38%;
  padding-top: 5vh;
  margin-right: 5vw;
}

br {
  line-height: 4vh;
}

u {
  text-decoration: none;
  border-bottom: 1.2px solid green;
}

#intro {
  display: inline;
}

#hidden {
  display: none;
}

.emphasis {
  font-style: italic;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
