@font-face {
  font-family: "Glossy Display";
  src: url("../assets/fonts/GlossyDisplayLight.ttf") format("truetype");
}

@font-face {
  font-family: "Glossy Display Italic";
  src: url("../assets/fonts/GlossyDisplay-Regular-Italic.otf");
}


html, body {
  margin: 0;
  padding: 0 2vw;
  color: green;
  background-color: #f2f2ee;
}

canvas {
  padding-top: 1vh;
  display: block;
}


h1 {
  font-family: "Glossy Display";
  font-size: 45px;
  display: inline-block;
  font-weight: 200;
}

h1 a:hover {
  font-style: italic;
}

a {
  text-decoration: none;
  color: green;
}

h2 {
  font-family: "Glossy Display Italic";
  font-size: 35px;
  font-style: italic;
  display: inline-block;
  padding: 0 40px 0 15px;
}

button {
  font-family: "Glossy Display";
  background-color: #f2f2ee;
  border: 1.5px solid green;
  color: green;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 50%;
  font-style: italic;
  margin-right: 35px;
}

button:hover {
  cursor: pointer;
  background-color: green;
  border-color: green;
  color: #f2f2ee;
  text-shadow: 1px 1px 10px #FFF;
  box-shadow: 2px 2px 8px green;
}

button:active {
  border: 0.5px solid green;
}


.buttons {
  position: absolute;
  margin-top:36%;
  left:14%;
}


p {
  font-family: "Glossy Display";
  font-style: none;
  font-weight: 300;
  font-size: 25px;
  float: right;
  padding-top: 15vh;
  justify-content: flex-start;
  width: 42%;
  padding-right: 5vh;
}

#intro {
  display: inline;
}

#hidden {
  display: none;
}

.emphasis {
  font-style: italic;
}


@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}